body{
    font-family: "Montserrat", sans-serif;
    background-color: #eeeeee;
}

/* Login */
    #loginpage .container{
        width: 500px;
    }
/* End of Login */

/* NavBar */
.sidebar{
    height: 100vh;
    /* background-color: #000044;  */
    background: linear-gradient(rgba(3,50,101,.99), rgba(3,50,101,.95)), url(../img/sidebar_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 5px 7px 25px #999999;
}

.logo{
    background-color: #ffffff;
}

.bottom-border{
    border-bottom: 1px groove #eeeeee;
}

.sidebar-link{
    transition: all .4s;
}

.sidebar-link:hover{
    font-weight: bolder;
    color: #004085 !important;
    background-color: #f9bd05;
    border-radius: 5px;
}

.current{
    color: #004085 !important;
    font-weight: bolder;
    background-color: #f9bd05;
    border-radius: 7px;
    box-shadow: 2px 5px 10px #111111;
    transition: all .3s;
}

.current:hover{
    fill: #004085 !important;
    color: #004085 !important;
    background-color: #fbb414;
    border-radius: 7px;
    box-shadow: 2px 5px 20px #111;
    transform: translateY(-1px);
}

@media(max-width: 768px){
    .sidebar{
        position: static;
        height: auto;
    }

    .top-navbar{
        position: static;

    }
}
/* End of NavBar */

/* Content */
.card-common{
    box-shadow: 1px 2px 5px #999999;
    transition: all .4s;
}

.card-common:hover{
    cursor: pointer;
    box-shadow: 2px 3px 15px #999999;
    transform: translateY(-1px);
}
/* End of Content */